<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bag</title>
</head>
<body>
		{% extends "layout.html" %}
		{% block content %}
		<div class="row mt-4" >
		<!--Padding DIV-->
		<div class="col-3"> </div>
		<!--Padding DIV-->
		
		<div class="content-section col-6">
			<div class="media">
				<img class="rounded-circle account-img" src="{{ image_file }}">
				<div class="media-body">
					<h2 class="account-heading">{{ current_user.username }}</h2>
					<p class="text-secondary">{{ current_user.email }}</p>
				</div>
			</div>
			<!-- FORM -->

		</div>


		<!--Padding DIV-->
		<div class="col-3"> </div>
		<!--Padding DIV-->		
		</div>
		{% endblock %}
</body>
</html>